* {
        margin: 0px;
        padding: 0px;
}

body {
        width: 100%;

}

#outer {
        border: 2px solid black;
        background-color: steelblue;
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;


}

#main {

        border: 2px solid red;
        background-color: brown;
        width: 60%;
        height: 100vh;
        display: flex;
        justify-content: center;

}


#input {
        width: 50%;
        height: 10vh;
        border-radius: 50px;
        margin-top: 50px;

}


#class {
        position: absolute;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
}


button {
        background-color: lightcoral;
        border-radius: 50%;
        height: 50px;
        width: 50px;

}